/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Archive */
.pp-archive {
    padding-bottom: 2rem;
}

.pp-archive .archive-header {
    text-align: center;
}

.pp-collection-terms-list {
    list-style: none;
    text-align: center;
}

.pp-collection > ul {
    list-style: none;
}

.pp-archive article {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.pp-archive article img {
    display: inline-block;
}

.entry-title,
.entry-meta {
    margin-bottom: 1rem;
}

.entry-meta .post-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Pagination */
.pp-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pp-pagination-link {
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none; 
}

@media (max-width: 575.98px) {
    .pagination-text {
        display: none;
    }

    .pp-pagination-link {
        font-size: 3rem;
    }
}

.pp-icon {
    margin-left: 5px;
}

.pp-pagination-link-next,
.pp-pagination-link-last {
    flex-direction: row-reverse;
}

/* Single */
.pp-comic header {
    text-align: center;
}

.pp-comic .entry-figure {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}